/* Kommentar */

body {
  width: 100%;
  background-color: #F2F2F2;
  font-family: "Helvetica Neue";
  font-weight: 200;
  padding: 0px;
  margin: 0px;
  border: 0px;
}


/* ----------------------------------- */

.content {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.contentleft {
  width: 100%;
  height: 100px;
  padding-top: 100px;
  -webkit-order: 2;
  text-align: center;
}

.contentmid {
  width: 96%;
  height: 100%;
  padding: 2%;
  -webkit-order: 1;
}

.versUt {
  text-align: center;
}

#plassholder {
  color: darkgrey;
}

.knapp {
  border: none;
  border-radius: 4px;
  /*padding: 10px;*/
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: "Helvetica Neue";
  font-weight: 200;
  background-color: #7eb762;
  color: white;
}

.takelurmunn {
  border: none;
  background-color: #F2F2F2;
}

.scrollbarWindow {
  overflow: scroll;
  overflow-x: hidden;
  height: 300px;
  border: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  padding-left: 5%;
}

.submitButton {
  border: none;
  border-radius: 4px;
  background-color: #7eb762;
  color: white;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.inputbox {
  width: 75%;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h3 {
  color: black;
  font-weight: 300;
  font-family: "Helvetica Neue";
  font-size: 20px;
}

# main {
  transition: margin-left .5s;
  padding: 20px;
}

.mainInfo {
  font-size: 150%;
}

.extraInfo {
  margin: 0;
}

.infoDescription {}
